[submodule "Portfolio-submodule"]
	path = Portfolio-submodule
	url = git@github.com:Javokhdev/Portfolio-submodule.git

[submodule "portfolio-submodule"]
	path = portfolio-submodule
	url = git@github.com:Javokhdev/portfolio-submodule.git
